<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>isEvil</key>
	<false/>
	<key>numLetters</key>
	<string>5</string>
	<key>indexed</key>
	<dict>
		<key>z</key>
		<integer>0</integer>
		<key>y</key>
		<integer>0</integer>
		<key>x</key>
		<integer>0</integer>
		<key>w</key>
		<integer>0</integer>
		<key>v</key>
		<integer>0</integer>
		<key>u</key>
		<integer>0</integer>
		<key>t</key>
		<integer>0</integer>
		<key>s</key>
		<integer>0</integer>
		<key>r</key>
		<integer>0</integer>
		<key>q</key>
		<integer>0</integer>
		<key>p</key>
		<integer>0</integer>
		<key>o</key>
		<integer>0</integer>
		<key>n</key>
		<integer>0</integer>
		<key>m</key>
		<integer>0</integer>
		<key>l</key>
		<integer>0</integer>
		<key>k</key>
		<integer>0</integer>
		<key>j</key>
		<integer>0</integer>
		<key>i</key>
		<integer>0</integer>
		<key>h</key>
		<integer>0</integer>
		<key>g</key>
		<integer>0</integer>
		<key>f</key>
		<integer>0</integer>
		<key>e</key>
		<integer>0</integer>
		<key>d</key>
		<integer>0</integer>
		<key>c</key>
		<integer>0</integer>
		<key>b</key>
		<integer>0</integer>
		<key>a</key>
		<integer>0</integer>
	</dict>
	<key>tested</key>
	<dict>
		<key>z</key>
		<integer>0</integer>
		<key>y</key>
		<integer>0</integer>
		<key>x</key>
		<integer>0</integer>
		<key>w</key>
		<integer>0</integer>
		<key>v</key>
		<integer>0</integer>
		<key>u</key>
		<integer>0</integer>
		<key>t</key>
		<integer>0</integer>
		<key>s</key>
		<integer>0</integer>
		<key>r</key>
		<integer>0</integer>
		<key>q</key>
		<integer>0</integer>
		<key>p</key>
		<integer>0</integer>
		<key>o</key>
		<integer>0</integer>
		<key>n</key>
		<integer>0</integer>
		<key>m</key>
		<integer>0</integer>
		<key>l</key>
		<integer>0</integer>
		<key>k</key>
		<integer>0</integer>
		<key>j</key>
		<integer>0</integer>
		<key>i</key>
		<integer>0</integer>
		<key>h</key>
		<integer>0</integer>
		<key>g</key>
		<integer>0</integer>
		<key>f</key>
		<integer>0</integer>
		<key>e</key>
		<integer>0</integer>
		<key>d</key>
		<integer>0</integer>
		<key>c</key>
		<integer>0</integer>
		<key>b</key>
		<integer>0</integer>
		<key>a</key>
		<integer>0</integer>
	</dict>
	<key>grouped</key>
	<dict>
		<key>z</key>
		<integer>0</integer>
		<key>y</key>
		<integer>0</integer>
		<key>x</key>
		<integer>0</integer>
		<key>w</key>
		<integer>0</integer>
		<key>v</key>
		<integer>0</integer>
		<key>u</key>
		<integer>0</integer>
		<key>t</key>
		<integer>0</integer>
		<key>s</key>
		<integer>0</integer>
		<key>r</key>
		<integer>0</integer>
		<key>q</key>
		<integer>0</integer>
		<key>p</key>
		<integer>0</integer>
		<key>o</key>
		<integer>0</integer>
		<key>n</key>
		<integer>0</integer>
		<key>m</key>
		<integer>0</integer>
		<key>l</key>
		<integer>0</integer>
		<key>k</key>
		<integer>0</integer>
		<key>j</key>
		<integer>0</integer>
		<key>i</key>
		<integer>0</integer>
		<key>h</key>
		<integer>0</integer>
		<key>g</key>
		<integer>0</integer>
		<key>f</key>
		<integer>0</integer>
		<key>e</key>
		<integer>0</integer>
		<key>d</key>
		<integer>0</integer>
		<key>c</key>
		<integer>0</integer>
		<key>b</key>
		<integer>0</integer>
		<key>a</key>
		<integer>0</integer>
	</dict>
	<key>numGuesses</key>
	<string>10</string>
</dict>
</plist>
